<?xml version="1.0" encoding="UTF-8"?>
<plugin 
	id="cordova-appodeal-prime"
	version="0.0.9"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>Appodeal Prime</name>
	<description>Appodeal Prime Plugin</description>
	<author>Wichanan</author>

	<js-module name="AppodealPrime" src="www/appodealprime.js">
	  <clobbers target="appodealprime"/>
	</js-module>

	<engines>
	    <engine name="cordova" version=">=7.0.0" />
	    <engine name="cordova-android" version=">=6.0.0" />
	</engines>

	<dependency id="cordova-plugin-cocoapod-support"/>
	<dependency id="cordova-custom-config"/>

	<platform name="android">
        <preference name="ANDROID_APP_KEY" />
        <preference name="ANDROID_SUPPORT_RECYCLERVIEW_VERSION" default="27+" />
	    <config-file parent="/*" target="res/xml/config.xml">
			<feature name="AppodealPrime">
				<param name="android-package" value="com.appodealprime.AppodealPrime" />
			</feature>
		</config-file>
	    <config-file parent="/manifest" target="AndroidManifest.xml">
	        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	    </config-file>
	    <config-file parent="/manifest/application" target="AndroidManifest.xml">
	    	<meta-data
	            android:name="com.appodeal.ads.appodealprime.APP_KEY"
	            android:value="$ANDROID_APP_KEY" />
	        <uses-library
			     android:name="org.apache.http.legacy"
			     android:required="false" />
	    </config-file>

	    <edit-config xmlns:android="http://schemas.android.com/apk/res/android" file="app/src/main/AndroidManifest.xml" mode="merge" 	target="/manifest/application">
	        <application android:networkSecurityConfig="@xml/network_security_config" />
	    </edit-config>
	    <resource-file src="src/android/network_security_config.xml" target="res/xml/network_security_config.xml"  />
	    
	    <framework src="com.google.android.gms:play-services-ads:16.+" />
	    <framework src="com.google.android.gms:play-services-location:16.+" />
	    <framework src="com.google.android.exoplayer:exoplayer-core:2.8.4" />
	    <framework src="com.google.android.exoplayer:exoplayer-hls:2.8.4" />
	    <framework src="com.android.support:multidex:1.0.3" />

	    <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_RECYCLERVIEW_VERSION" />
	    <framework src="com.android.support:recyclerview-v7:$ANDROID_SUPPORT_RECYCLERVIEW_VERSION" />

	    <framework src="src/android/dependency_fix.gradle" custom="true" type="gradleReference" />
	    
	    <framework src="com.appodeal.ads:maxdex:2.5.7" />
	    <framework src="com.appodeal.optional:flurry-ads:11.6.0" />
	    <framework src="com.appodeal.optional:flurry-analytics:11.6.0" />

        <source-file src="src/android/Actions.java" target-dir="src/com/appodealprime" />
        <source-file src="src/android/Action.java" target-dir="src/com/appodealprime" />
        <source-file src="src/android/Events.java" target-dir="src/com/appodealprime" />
        <source-file src="src/android/AppodealPrime.java" target-dir="src/com/appodealprime" />
        <source-file src="src/android/ads/AdBase.java" target-dir="src/com/appodealprime/ads" />
        <source-file src="src/android/ads/BannerAd.java" target-dir="src/com/appodealprime/ads" />
        <source-file src="src/android/ads/NativeAd.java" target-dir="src/com/appodealprime/ads" />
        <source-file src="src/android/ads/InterstitialAd.java" target-dir="src/com/appodealprime/ads" />
        <source-file src="src/android/ads/RewardVideo.java" target-dir="src/com/appodealprime/ads" />
	</platform>

	<platform name="ios">
        <preference name="IOS_APP_KEY" />
		<config-file target="config.xml" parent="/*" >
			<feature name="AppodealPrime">
				<param name="ios-package" value="AppodealPrime" />
			</feature>
		</config-file>
        <config-file target="*-Info.plist" parent="ApodealApplicationIdentifier">
            <string>$IOS_APP_KEY</string>
        </config-file>
		<config-file target="*-Info.plist" parent="NSAppTransportSecurity">
		  <dict>
		      <key>NSAllowsArbitraryLoads</key>
		      <true/>
		      <key>NSAllowsArbitraryLoadsInWebContent</key>
		      <true/>
		  </dict>
		</config-file>
		<config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
		  <string>We are using the Calendar features to serve ads to the app</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
		  <string>We are using the Bluetooth features to serve ads to the app</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
		  <string>We are using the Location features to serve ads to the app</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
		  <string>We are using the Photo features to serve ads to the app</string>
		</config-file>
        <!-- <header-file src="src/ios/AppodealPlugin.h"/>
		<source-file src="src/ios/AppodealPlugin.m"/> -->
		<header-file src="src/ios/AP-Bridging-Header.h" />

		<framework src="AdSupport.framework"/>
		<framework src="AudioToolbox.framework"/>
		<framework src="AVFoundation.framework"/>
		<framework src="CFNetwork.framework"/>
		<framework src="CoreGraphics.framework"/>
		<framework src="CoreImage.framework"/>
		<framework src="CoreLocation.framework"/>
		<framework src="CoreMedia.framework"/>
		<framework src="CoreMotion.framework"/>
		<framework src="CoreTelephony.framework"/>
		<framework src="EventKitUI.framework"/>
		<framework src="GLKit.framework"/>
		<framework src="ImageIO.framework"/>
		<framework src="MediaPlayer.framework"/>
		<framework src="MessageUI.framework"/>
		<framework src="MobileCoreServices.framework"/>
		<framework src="QuartzCore.framework"/>
		<framework src="Security.framework"/>
		<framework src="StoreKit.framework"/>
		<framework src="SystemConfiguration.framework"/>
		<framework src="Twitter.framework"/>
		<framework src="UIKit.framework"/>
		<framework src="WebKit.framework"/>

		<framework src="libc++.dylib"/>
		<framework src="libsqlite3.dylib"/>
		<framework src="libxml2.2.dylib"/>
		<framework src="libz.dylib"/>

		<pod name="Appodeal" spec="2.5.8" />

        <source-file src="src/ios/APBase.swift" />
        <source-file src="src/ios/APBanner.swift" />
        <source-file src="src/ios/AppodealPrime.swift" />
        <source-file src="src/ios/APInterstitial.swift" />
        <source-file src="src/ios/APRewardVideo.swift" />
        <source-file src="src/ios/APConstants.swift" />
        <source-file src="src/ios/APNative.swift" />

	</platform>
</plugin>
